/* Estilos footer */
.onda2 {
    fill: var(--background-color1);
}

.contato {
    column-gap: 10px;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.contato h2 {
    color: var(--text-colorh2);
}

.contato-descricao {
    padding-left: 20px;
    padding-bottom: 20px;
    color: var(--text-color1);
}

.circulo-info {
    background-color: var(--primary-pink);
    border-radius: 50%;
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    grid-row: 1/4;
}

.circulo-info li {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 30px;
}

.circulo-info li p {
    color: #ededed;
    font-weight: 500;
}

.icone-contato {
    width: 40px;
    height: 40px;
}

.formulario-contato {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    gap: 15px;
}

.formulario-contato textarea {
    resize: none;
    height: 90px;
    font-family: 'Open Sans', Arial, sans-serif;
}

.formulario-contato input,
.formulario-contato textarea {
    padding: 20px 10px;

}

.formulario-contato input,
.formulario-contato textarea {
    border: 1px solid var(--border-bloco);
    border-radius: 8px;
    width: 520px;
    background-color: var(--background-color2);
}

.formulario-contato button {
    width: 200px;
    height: 40px;
    color: var(--text-color2);
    border: 1px solid var(--primary-pink);
    border-radius: 8px;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
}

.formulario-contato button:hover {
    cursor: pointer;
    background-color: var(--light-pink);
}

.info-direitos {
    border-top: 0.5px solid var(--light-pink);
    text-align: center;
    margin-top: 30px;
    padding: 30px 0px;
    color: var(--text-color3);
    letter-spacing: 9%;
}

.bloco-form-resp {
    position: relative;
    left: 715px;
    border: 2px solid var(--border-bloco);
    color: var(--text-color1);
    margin: 10px 0px;
    border-radius: 8px;
    max-width: 450px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.bloco-form-button {
    cursor: pointer;
    color: var(--text-color3);
    align-self: flex-start;
}

.inacessivel {
    display: none;
}

@media (max-width: 1000px) {
    .contato {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .formulario-contato {
        padding-left: 0px;
    }

    .formulario-contato button {
        align-self: center;
    }

    .circulo-info {
        order: 1;
    }

    .contato-descricao {
        padding: 0px;
    }

    .circulo-info {
        width: 350px;
        height: 350px;
    }

    .circulo-info li p {
        font-size: 1rem;
    }

    .icone-contato {
        width: 30px;
        height: 30px;
    }
}

@media (max-width: 600px) {

    .formulario-contato input,
    .formulario-contato textarea {
        width: 250px;
    }

    .circulo-info {
        width: 300px;
        height: 300px;
    }

    .circulo-info li p {
        font-size: 0.875rem;
    }

    .icone-contato {
        width: 20px;
        height: 20px;
    }
}

@media (max-width: 320px) {

    .formulario-contato input,
    .formulario-contato textarea,
    .formulario-contato button {
        width: 180px;
    }

}