/* Resets CSS */
body {
    margin: 0;
    font-family: 'Open Sans', Arial, sans-serif;
    background-color: var(--background-color1);   
}
a {
    text-decoration: none;
    padding: 10px 15px;
}
h1 {
    font-size: 4.5rem;
    line-height: 1.125;
    font-family: 'Poppins';
}
h2 {
    font-size: 6.7rem;
    line-height: 1.125;
    font-weight: bold;
    font-family: 'Poppins';
    
}
h3 {
    font-size: 1.5rem;
}
p {
    font-size: 1.5rem;
}
h1, h2, h3, p {
    margin: 0px;
}
ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}
li {
    list-style: none;
}
img {
    max-width: 100%;
    height: auto;
    display: block;
}
svg {
    display: block;
}
.container {
    max-width: 1200px;
    margin: 0px auto;
    padding-top: 60px; 
}
/* Criando variáveis */
:root {
    --primary-pink: #DA5858;
    --light-pink: #FFADAD;
    --text-color1: #292929;
    --text-color2: #525252;
    --text-color3: #7a7a7a;
    --text-colorh1: #141414;
    --text-colorh2: #d9d9d9;
    --text-colorh3: #141414;
    --border-bloco: #d9d9d9;
    --background-color1: #f8f8f8;
    --background-color2: #ededed;
    --background-color3: #d9d9d9;
}
/* Criando variáveis para tema escuro */
.dark {
    --text-color1: #ededed;
    --text-color2: #d9d9d9;
    --text-color3: #8f8f8f;
    --text-colorh1: #f8f8f8;
    --text-colorh2: #7a7a7a;
    --text-colorh3: #f8f8f8;
    --border-bloco: #666666;
    --background-color1: #292929;
    --background-color2: #525252;
    
}
@media (max-width: 1000px) {
    h1 {
        font-size: 3rem;
    }
    h2 {
        font-size: 4rem;
    }   
}
@media (max-width: 800px) {
    h1 {
        font-size: 2.5rem;
    }
    h3 {
        font-size: 1.5rem;
    }
    p {
        font-size: 1.25rem;
    }
}
@media (max-width: 600px) {
    h2 {
        font-size: 3rem;
    }
    h3 {
        font-size: 1.2rem;
    }
}
