/* Estilos sobre */
.sobre {
    display: grid;
    grid-template-columns: 1fr 2.5fr;
    column-gap: 30px;
    align-items: center;
    justify-items: end;
    
}

.sobre-informacoes h1::before {
    content: "";
    display: block;
    width: 115px;
    height: 115px;
    background-color: var(--light-pink);
    border-radius: 50%;
    position: absolute;
    top: -10px;
    left: -40px;
    z-index: -1;
}

.sobre-titulo {
    position: relative;
    color: var(--text-colorh1);
}

.sobre-subtitulo {
    color: var(--primary-pink);
    padding-left: 30px;
    font-size: 2rem;
}

.sobre-descricao {
    padding: 20px 30px;
    max-width: 80ch;
}

.sobre-descricao p {
    padding: 5px 0px;
    font-weight: 500;
    color: var(--text-color1);
}

.sobre-icone {
    display: inline;
    height: 20px;
}

@media (max-width: 1100px) {
    .sobre {
        grid-template-columns: 1fr;
        justify-items: center;
        gap: 20px;
    }
    .sobre-img-giovanna {
        width: 340px;
    }
    .sobre-titulo, .sobre-subtitulo, .sobre-descricao p {
        text-align: center;
    }
    .sobre-informacoes h1::before {   
        left: 20px;
    }
   
}
@media (max-width: 1000px) {
    .sobre-informacoes h1::before {   
        left: 80px;
    }
}
@media (max-width: 800px) {
    .sobre-informacoes h1::before {
        width: 100px;
        height: 100px;    
    }
    .sobre-informacoes h1::before {   
        left: 120px;
    }
}

@media (max-width: 600px) {
    .sobre-subtitulo {
        padding-left: initial;
    }
    .sobre-img-giovanna {
        width: 140px;
    }
    .sobre-informacoes h1::before {   
        left: 60px;
    }
}

@media (max-width: 500px) {
    .sobre-informacoes h1::before {   
        background: none;
    }
    .sobre-subtitulo {
        font-size: 1.5rem;
    }
}
